.divContainerCalendar00 {
}

.divContainerCalendar01 {
  gap: 1rem;
  align-items: center;
}

.divContainerCalendar01 > h1 {
  padding: 0.5rem 1rem 0.5rem 1rem;
  color: rgb(220, 225, 233);
  font-size: 3rem;
  background-color: rgb(58, 108, 148);
}

.divContainerCalendarCombobox01 {
  gap: 0.3rem;
}

.divContainerCalendarCombobox00 {
  position: relative;  width: 4rem;

}
.divContainerCalendarCombobox01 {
  position: absolute;
  border-left: solid 0.1rem rgb(77, 139, 190);
  border-right: solid 0.1rem rgb(77, 139, 190);
  border-bottom: solid 0.1rem rgb(77, 139, 190);
}

.divContainerCalendarCombobox01 > h3 {
  cursor: pointer;
  
  background-color: rgb(255, 255, 255);
  font-size: 1.5rem;
  width: 4rem;
  text-align: center;
  padding: 0.2rem 0 0.2rem 0;
  color: rgb(77, 113, 148);
}

.divContainerCalendarCombobox01 > h3:hover {
  background-color: rgb(195, 206, 216);
  color: rgb(62, 91, 121);
}

.divContainerCalendar07 > div > div > input {
  cursor: pointer;
  width: 100%;

  font-size: 1.5rem;
  text-align: center;

  color: rgb(77, 113, 148);
  border-left: solid 0.1rem rgb(77, 113, 148);
  border-right: solid 0.1rem rgb(77, 113, 148);
  border-top: solid 0.1rem rgb(77, 113, 148);
  animation-name: animationSelection;
  animation-iteration-count: 1;
  animation-duration: 1s;
  animation-timing-function: linear;
}

.divContainerCalendar07 > div > div:nth-child(1){
width: 3rem;
}


.divContainerCalendar07 > div > div:nth-child(2) > .divContainerCalendarCombobox02 {
width: 3rem;
}
.divContainerCalendar07 > div > div:nth-child(2) > .divContainerCalendarCombobox02 > .divContainerCalendarCombobox01 > h3{
  width: 3rem;
  }

.divContainerCalendar07 > div > div:nth-child(3) > .divContainerCalendarCombobox02 {
  width: 4rem;
  }

.divContainerCalendarCombobox00 > input {
  cursor: pointer;
width: 100%;
height: 100%;
  font-size: 1.5rem;
  text-align: center;
  background-color: rgb(255, 255, 255);
  color: rgb(77, 113, 148);
  border-left: solid 0.1rem rgb(82, 86, 90);
  border-right: solid 0.1rem rgb(77, 113, 148);
  border-top: solid 0.1rem rgb(77, 113, 148);
  position: relative;
}



@keyframes animationSelection {
  50%{
    background-color: rgb(95, 141, 185);
  }
}

.divContainerCalendarCombobox02{
  cursor: pointer;
  width: 4rem;
  text-align: center;
  color: rgb(77, 113, 148);
  border-left: solid 0.1rem rgb(77, 113, 148);
  border-right: solid 0.1rem rgb(77, 113, 148);
  border-top: solid 0.1rem rgb(77, 113, 148);
  position: relative;
/*   animation-name: animationSelection;
  animation-iteration-count: 1;
  animation-duration: 1s;
  animation-timing-function: linear; */
}

.divContainerCalendarCombobox02 > input {
  cursor: pointer;
  width: 4rem;
height: 100%;
width: 100%;
background-color: transparent;
  font-size: 1.5rem;
  text-align: center;
  color: rgb(77, 113, 148);
  position: relative;
  background-color: white;

}


.divContainerCalendarCombobox00 > input:hover {
  background-color: rgb(195, 206, 216);
}

/* .divContainerHeader01 > h1:nth-child(1)::after { */
/* .divContainerCalendarCombobox00 > input::after {
content: "Mes";
position: absolute;
width: 1rem;
height: 1rem;
color:red;
top:-5rem;
left: 0;
font-size: 1rem;

  } */


.divContainerCalendar03 {
  width: 35rem;
  height: 25rem;
  background-color: rgb(173, 191, 192);
}

.divContainerCalendar10 {
  gap: 0.5rem;
}

.divContainerCalendar11 {
  gap: 0.5rem;
}

.divContainerCalendar08 {
  justify-content: flex-end;
}

.divContainerCalendar08 > h3 {
  color: white;
  font-size: 1.5rem;
  text-align: center;
  background-color: rgb(57, 93, 109);
}

.divContainerCalendar07 {
  justify-content: flex-end;
}

.divContainerCalendar07 > h3 {
  color: white;
  font-size: 1.5rem;
  text-align: center;
  background-color: rgb(57, 93, 109);
}

.divContainerCalendar09 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
}

.divContainerCalendar09 > button {
  color: white;
  font-size: 1.5rem;
  background-color: cornflowerblue;
  padding: 0.5rem;
  transition: .3s;
  border-radius: .2rem;
  cursor: pointer;
}
.divContainerCalendar09 > button:hover {
  background-color: rgb(58, 100, 177);
  
}


.divContainerCalendar08 > div > div > h3 {
  color: rgb(71, 108, 126);
  font-size: 1.7rem;
  background-color: rgb(217, 220, 223);
  text-align: center;
}
.divContainerCalendar08 > div > div:nth-child(1) > .divContainerCalendarCombobox00{
width: 3rem;
}
.divContainerCalendar08 > div > div:nth-child(1) > .divContainerCalendarCombobox00 > .divContainerCalendarCombobox01 > h3{
  width: 3rem;
  }

.divContainerCalendar07 > div > div > h4 {
  color: rgb(71, 108, 126);
  font-size: 1.7rem;
  background-color: rgb(217, 220, 223);
  text-align: center;

}

.divContainerCalendar03 {
  padding: 0.5rem;
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto;
  grid-template-rows: 5rem 5rem 5rem 5rem 5rem;
  border: solid 0.1rem rgb(43, 100, 138);
}

.divContainerCalendar03 > h3 {
  border: solid 0.1rem rgb(117, 115, 112);
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(79, 135, 161);
  font-size: 1.5rem;
  font-weight: 600;
  transition: 0.3s;background-color: aliceblue;
  cursor: pointer;
  
}

.divContainerCalendar03 > h3:hover {
  background-color: rgb(91, 161, 189);
  color: rgb(253, 253, 253);
}

.divContainerCalendar05 h3 {
  width: 4rem;
  text-align: center;
  background-color: rgb(42, 65, 95);
  color: white;
  font-size: 1.5rem;
}
.divContainerCalendar05 h3:nth-child(4) {
  width: 7rem;
  text-align: center;
  background-color: rgb(42, 65, 95);
  color: white;
  font-size: 1.5rem;
}

.divContainerCalendar06 > h3 {
  width: 4rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: rgb(100, 110, 110);
  color: white;
  font-size: 1.5rem;
  border-bottom: solid 0.2rem white;
}

.divContainerCalendar12 > button {
  color: white;
  font-size: 1.2rem;
  background-color: cornflowerblue;
  padding: 0.5rem;
  border-radius: 0.2rem;
  cursor: pointer;
}

.divContainerCalendar12 > button:hover {
  background-color: rgb(58, 100, 177);
}


.divContainerCalendar04 > h1 {
  color: rgb(217, 233, 233);
  background-color: rgb(36, 38, 43);
  text-align: center;
}

.divContainerCalendar12 {
  width: 7rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.divContainerCalendar13{
  overflow: scroll;
  max-height: 25rem;
}

.divContainerCalendar13::-webkit-scrollbar-thumb {
  background-color: rgb(81, 124, 168);
  border-radius: 1rem;
  transition: 1s;
  box-shadow: -0.5vh 0vh 1vh 0vh rgba(93, 111, 114, 0.075);
}

.divContainerCalendar13::-webkit-scrollbar {
  width: 1vw;
  height: 0rem;

  transition: 1s;
}