@media only screen and (max-width: 750px) {
   .divContainerCalendar11{
    flex-flow: Column nowrap;
   }

.divContainerCalendar04 > div{
  
    align-items: center;
}

.divContainerCalendar03{
width: 80vw;
}
.divContainerCalendar02 {
 align-items: center;
}
.divContainerCalendar10{
  flex-flow: row wrap;
  justify-content: center;
 
}
.divContainerCalendar13 {
    width: 80vw;
}

  }
  